<div class="">
    <table class="table table-striped">
        <!--
        <th>Type</th>
        <th>Description</th>
        <th>Value</th>
        <th>Food</th>
        <th>Out</th>
        <th>Transports</th>
        <th>Clothes</th>
        <th>Sport</th>
        <th>Health</th>
        <th>Tech</th>
        <th>Rent</th>
        <th>Trip</th>
        <th>Sex</th>
        <th>Work</th>
        <th>Bank</th>
        -->
        <tr style="background:yellow"><td>Income</td><td>Total</td><td>{{totalIncome}}</td></tr>
        <tr style="background:yellow"><td>Outcome</td><td>Total</td><td>{{totalOutcome}}</td></tr>
        <!--
            <th>Tag</th>
        -->
        <tr ng-repeat="t in transactions">
            <td>{{t.transaction_type}}</td>
            <td>{{t.description}}</td>
            <td>{{t.value}}</td>
        </tr>
    </table>
</div>

